@import 'tailwindcss';

@font-face {
  font-family: 'Stack';
  src: url('../fonts/StackSansNotch-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans:
    'Stack', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --color-primary: #2563eb;
  --color-primary-light: #60a5fa;
  --color-primary-dark: #1e3a8a;

  --color-secondary: #8b5cf6;
  --color-secondary-light: #c4b5fd;
  --color-secondary-dark: #5b21b6;

  --color-accent: #22c55e;
  --color-accent-light: #86efac;
  --color-accent-dark: #15803d;

  --color-highlight: #ec4899;
  --color-highlight-light: #f9a8d4;
  --color-highlight-dark: #9d174d;

  --color-bg: #0f172a;
  --color-surface: #1e293b;
  --color-text-light: #f1f5f9;
  --color-text-dark: #0f172a;
}

@layer components{
  .bg-gradient-primary {
    @apply bg-gradient-to-r from-primary via-secondary to-accent
  }

    .bg-gradient-primary-light {
    @apply bg-gradient-to-r from-primary-light via-secondary-light to-accent-light
  }
}